
body{
margin:0;
padding:0;
width:100%
}
.wrap{
 
     height:900px;
     margin-left:0px;
 position: relative;
 background-color: rgb(224, 216, 216);
 }
 nav li{
     display:inline;
     margin-left:0px;
     margin-right:20px;
 }
 header{
     background-color:#38475c;
 }
 .main{
     margin-top: 0px;
 height: 600px;
 margin-left: 0px;
 background-color:rgb(212, 208, 208);
 }
 nav{
     background-color: #38475c;
 
 }
 blockquote{
     font-family:sans-serif;
     font-style:italic;
     font-size: 25px;
 }
 img{
     height:250px;
     width:250px;
     float:left;
     margin-left:320px;
     border-radius:50%;
 }
 
 
 a{
     text-decoration: none;
     color:whitesmoke;
 }
 a:hover{
     background-color: #517aa8;
     color:black;
 }
 h2{
     margin-left: 370px;
 }
 p{
     font-size: 18px;
     font-weight: normal;
     line-height: 23px;
     margin-left: 80px;
     
 }
  .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color:#38475c;
   color: white;
   text-align: center;
}