body{
    margin:2px;
    padding:2px;
    
}
header{
    padding-top:20px;
    margin-right: 150px;
    font-size:12px;
  }
   header h2{
    float:left;
      margin-left:200px;
      font-size:25px;
    
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
   
    }
    
    li {
      float: right;
    }
    
     nav li a {
      display: block;
      color:white;
      text-align: center;
      padding: 10px 10px;
      text-decoration: none;
      font-size:16px;
      text-transform: uppercase;
  
      
    }
    
    li a:hover {
      background-color: #082243;
      color:black;
  
    }
   
   
  .background{
    width:100%; 
      height:850px;
      background:url( ../images/image93.jpg); 
      background-size:cover;
      background-repeat:no-repeat;
      background-attachment: fixed;
      color :white;
      font-family:Georgia, 'Times New Roman', Times, serif;
      
  }
  
  button{
    
      background-color:black;
      width: 150px;
      height: 50px;
      border:none;
      border-radius:25px;
      margin-top:0px;
      color:white;
      margin-bottom: 100px;
      text-transform:uppercase;
      font-family:Georgia, 'Times New Roman', Times, serif;
  
  }
  .main{
    text-transform:normal;
    font-size:37px;
    letter-spacing :0.1em;;
    line-height:1.0em;
    text-align:center;
    padding-top:250px;   
     color:whitesmoke ;
  }
  #overlay{
    background-color:rgb(12, 10, 10);
    opacity:0.9;
    height:850px;
  }
/* end of home styling */

/* begining of about styling */

#about{
    text-align: center;
      height:1000px;
      font-size: 18px;
      font-weight: normal;
      font-family:Georgia, 'Times New Roman', Times, serif
     
  }
  .me{
      height:500px;
      margin-top:10px;
  
  }
  .me h2{
   
    font-size:22px;
  }
    #border{
    border-bottom:1px  solid #38475c;
    width: 100px;
   text-align:center;
   
    
  }
  img{
      height:200px;
      width:200px;
      border-radius:50% ;
  }
  #about p{
    font-size:20px;
    font-weight:normal; 
    line-height:1.5;
    margin-left:200px;
    margin-right:150px;
    
  
  }
  .technical{
      padding-top:20px;
      background-color:#38475c;
      height:500px;
      text-align: center;
      background-attachment: fixed;
  }
   blockquote{
      padding-top:20px;
      height:300px;
      width:1200px;
      background-color:white;
      margin-left:250px;
      margin-right: 100px
  }
  blockquote>p{
      border-bottom: 2px solid #38475c;
      font-family:Georgia, 'Times New Roman', Times, serif;
      
     
  }
/* ending of about styling */


/* the start of contact me styling */
    form{
    float:left;
     margin-left:10px;
     margin-left: 500px;
     height:500px;
     
      }
     
     * {box-sizing: border-box;}
     
     input[type=text], select, textarea {
      
       padding: 12px;
       width:100%;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
       margin-top: 6px;
       margin-bottom: 16px;
       resize: vertical;
     }
     
     input[type=submit] {
       background-color:black;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
     }
     
     input[type=submit]:hover {
       background-color: #45a049;
     }
     
     #contact {
       border-radius: 5px;
       background-color: rgb(224, 216, 216);
       opacity:0.9;
       padding: 20px;
       box-shadow:0px 5px 5px 5px grey;
       font-size:16px;

       height:770px;
       margin-top:100px;
      font-family:Georgia, 'Times New Roman', Times, serif
     
     }
     /* end of contact me styling */
    
      
     /* the start of project styling */
     #project {
        display: flex;
        flex-wrap: nowrap;
        margin-left:200px;
        box-sizing:border-box;
        justify-content:space-between; 
      }
      #mo{
          border-radius:5px;
          width:300px;
          margin-left:50px;
      }
      ol {
          list-style-type: upper-roman;
          display: block;
        float:left;
        }
      
      #project > div {
       height:550px;
        width: 600px;
        margin:10px;
        padding-left:10px;
        line-height:25px;
        font-size:18px;
        box-shadow:0px 5px 5px 5px grey;
        text-transform:normal;
      }
      #project p{
        padding-left:25px;
         
         
      }
    
    /* the end of  div project styling */
  .footer {
      padding-top:20px;
      text-transform: capitalize;
      word-spacing:0.5em;
  height:100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#38475c;
    color:whitesmoke;
    text-align: center;
 }

