body{
    margin:0;
    padding:0;
    width:100%;
}
/* header{
    /* background-color:#38475c; */
/* } */ 
.background{
    background:url( ../images/image93.jpg); 
    background-size:cover;
    background-repeat: no-repeat; 
    height:900px;
    color:white;
}
h2{
    margin-left:200px;
    padding-top:50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
  }
  
  li {
    float: right;
  }
  nav{
    padding-top:-50px;
    
  }
   nav li a {
    display: block;
    color:whitesmoke;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    text-transform:uppercase;
    
  }
  
  li a:hover {
    background-color: #111;
  }
  nav li{
    display:inline;
    margin-left:0px;
    margin-right:20px;
}
button{
    /* margin-left:320px;
    color :whitesmoke; */
    background-color: #082243;
    width: 200px;
    height: 70px;
    border:none;
    border-radius: 25px;
    margin-top:0px;
    font-size:20px;
    margin-bottom: 100px;
    text-transform:uppercase;

}
.main{
    text-transform:uppercase;
    font-size:16px;
    font-weight:300px;
    letter-spacing: 1.2px;
    line-height: 18px;
    text-align:center;
    /* padding-left:320px; */
    padding-top: 180px;
    color:rgb(5, 4, 10);
    height:900px;
    /* background:url( ../images/image1.jpg); */
    background-size:cover;
    background-repeat: no-repeat;    
}


/* begining of about styling */

#about{
    text-align: center;
    height:900px;
    font-size: 18px;
    font-weight: normal;
    line-height:25px;
}
.me{
    height:300px;
}
img{
    height:250px;
    width:250px;
    float:left;
    margin-left:320px;
    border-radius:50%;
}
.technical{
    padding-top:20px;
    background-color:#38475c;
    height:500px;
}
 blockquote{
    padding-top:20px;
    height:300px;
    width:1200px;
    background-color:white;
    margin-left:300px;
}
blockquote>p{
    border-bottom: 2px solid #C09665;
   
}
/* ending of about styling */


/* the start of contact me styling */
    form{
    float:left;
     margin-left:10px;
     margin-left: 500px;
     height:500px;
     
      }
     
     * {box-sizing: border-box;}
     
     input[type=text], select, textarea {
      
       padding: 12px;
       width:100%;
       border: 1px solid #ccc;
       border-radius: 4px;
       box-sizing: border-box;
       margin-top: 6px;
       margin-bottom: 16px;
       resize: vertical;
     }
     
     input[type=submit] {
       background-color:black;
       color: white;
       padding: 12px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
     }
     
     input[type=submit]:hover {
       background-color: #45a049;
     }
     
     #contact {
       border-radius: 5px;
       background-color: rgb(224, 216, 216);
       opacity:0.9;
       padding: 20px;
       height:1200px;
       margin-top:100px;
     }
     /* end of contact me styling */
    
      
     /* the start of project styling */
     #project {
        display: flex;
        flex-wrap: nowrap;
        margin-left:200px;
        box-sizing:border-box;
        justify-content:space-between;
       
        
      }
      ol {
          list-style-type: upper-roman;
          display: block;
        float:left;
        }
      
      #project > div {
       height:350px;
        width: 500px;
        margin:10px;
        padding-left:10px;
        line-height:25px;
        font-size:18px;
        box-shadow:0px 5px 5px 5px grey;
        text-transform:normal;
      }
      #project p{
        padding-left:25px;
         
         
      }
    
    /* the end of project styling */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#38475c;
    color:whitesmoke;
    text-align: center;
 }

